# Dolphin Services Easy Quick Install Suite 
# https://github.com/Intika-Linux-Plasmoid
# Contact: intika@librefox.org
# Release: 2019 intika
# License: GPL-3.0 
# Version: 5.21

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Actions=openWithNqq;
InitialPreference=99
Version=5.21

[Desktop Action openWithNqq]
Name=Open with Notepadqq
Exec=bash -c 'if [[ -d ""$*"" ]]; then notepadqq "$*"/*; elif [[ -f ""$*"" ]]; then notepadqq "$*"; else if [ $# -ge 1 ]; then command="notepadqq"; while [ $# -gt 0 ]; do if [[ $1 = *" "* ]]; then notepadqq "$1"; else command="$command $1"; fi; shift; done; $command; elif [ $# == 0 ]; then notepadqq; fi; fi;' 'dummy-param' %F
Icon=notepadqq
